#para-durum{
	width: 100%;
	background: #eee;
	border:1px solid #ccc;
	padding: 10px

}
#para-durum .box{float:left;
border-right: 1px solid #ccc; padding: 10px; font-size: 20px;font-weight: 600
}
#para-durum .box span{display: block;font-size: 12px;}